@import 'mediawiki.ui/variables';

.ext-WikiEditor-ManualWidget {
	background-color: @colorGray14;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-color: @colorGray12;
	border-width: 1px 0;
	border-style: solid;
	padding: 6px 24px;

	& > .oo-ui-iconWidget {
		margin-right: 1em;
	}

	.oo-ui-buttonWidget {
		margin-left: auto;
		font-weight: bolder;
	}
}
